* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

html {
    min-height: 100vh;
}

body {
    min-height: 100vh;
    position: relative;
}

.body__title {
    margin: 0 0 3rem 0;
    margin: 3rem 0 3rem 30rem;
}

.body__title > h2 {
    font-family: 'Montserrat';
    font-size: 2.25rem;
    font-weight: 600;
    color: #4E5150;
}

main {
    display: grid;
    grid-template-columns: repeat(2, 29rem);
    margin: 3rem 0 3rem 30rem;
    gap: 10rem;
}

.section__title {
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1rem;
}

.section__label {
    display: block;
    padding-bottom: .2rem;
    color: #4F4F4F;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section__inputs {
    margin-top: 1.5rem;
    position: relative;
}

.icons {
    position: absolute;
    top: 2.1rem;
    left: .7rem;
    color: #828282;
}

.section__input {
    border-radius: 0.75rem;
    border: 1px solid var(--gray-3, #828282);
    width: 29.0625rem;
    height: 3.5rem;
    flex-shrink: 0;
    padding-left: 3rem;
}

.section__inputs_columns {
    display: flex;
    align-items: center;
}

.section__input--small {
    width: 13.5625rem;
}

.section__country {
    color: #828282;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 2rem;
}

#select__country {
    color: #828282;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section__inputs_save {
    margin-bottom: 2rem;
}

.section__submit {
    float: right;
}

.section__submit > button {
    background-color: #F2994A;
    color: #fff;
    width: 10.375rem;
    height: 3.375rem;
    flex-shrink: 0;
    border: none;
    border-radius: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.section__inputs_save > input {
    width: 1.3125rem;
    height: 1.3125rem;
    flex-shrink: 0;
    margin-right: .2rem;
    cursor: pointer;
}

.section__inputs_save > p{
    display: inline;
    color: #4F4F4F;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    bottom: .4rem;
}

.section__address {
    margin-top: 3rem;
}

::placeholder {
    color: #828282;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.aside__resume {
    width: 23.9375rem;
    height: 35.4375rem;
    flex-shrink: 0;
    border-radius: 0.75rem;
    background-color: #F2F2F2;
    padding: 2rem;
    position: relative;
}

.aside__product {
    display: grid;
    grid-template-columns: repeat(2, 11rem);
    margin-bottom: 1.97rem;
    position: relative;
}

.aside_product_title {
    color: #4E5150;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.aside_product_prices {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 7rem;
    margin-top: .5rem;
} 

.aside_product_prices > p {
    color: var(--orange, #F2994A);
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.aside_product_price--overline {
    color: #4E5150 !important;
    font-size: 0.75rem !important;
    font-style: normal !important;
    font-weight: 600 !important;
    line-height: normal !important;
    text-decoration-line: line-through !important;
}

.aside__amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: .3rem;
    border: 1px solid #000;
    border-radius: 0.75rem;
    padding: 0.92rem;
    width: 40%;
}

.aside__amount_button {
    width: 1.51413rem;
    height: 1.51413rem;
    flex-shrink: 0;
    background-color: #c8c8c8;
    border-radius: 0.2rem;
    cursor: pointer;
}

.aside__amount_button > span {
    color: #828282;
}

.aside__images > img {
    width: 10rem;
    height: 10rem;
    border-radius: 0.75rem;
    flex-shrink: 0;
}

.aside__cost {
    position: absolute;
    bottom: 0;
}

.aside__products_cost {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-top: 1px solid #BDBDBD;;
    width: 20rem;
    padding-top: 1rem;
}

.aside__products_cost_shipping {
    margin-bottom: 1rem;
}

.aside__products_cost_title {
    color: #333;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.aside__products_cost_total {
    color: #333;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

footer {
    width: 100%;
    text-align: center;
    margin-top: 10rem;
    opacity: .5;
}

.invalido {
    border: 1px solid #f00;
}

@media only screen and (min-width: 576px){
    html {
        min-height: 100vh;
        min-width: fit-content;
    }

    .body__title {
        margin: 0 0 3rem 0;
        margin: 3rem 0 3rem 2rem;
    }

    main {
        display: grid;
        grid-template-columns: 30rem;
        margin: 3rem 0 3rem 2rem;
        gap: 10rem;
    }

    aside {
        grid-row: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 768px){
    html {
        min-height: 100vh;
        min-width: fit-content;
    }

    .body__title {
        margin: 0 0 3rem 0;
        margin: 3rem 0 3rem 10rem;
    }

    main {
        display: grid;
        grid-template-columns: 30rem;
        margin: 3rem 0 3rem 10rem;
        gap: 10rem;
    }

    aside {
        grid-row: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 992px){
    html {
        min-height: 100vh;
        min-width: fit-content;
    }

    .body__title {
        margin: 3rem 0 3rem 15rem;
    }

    main {
        display: grid;
        grid-template-columns: 30rem;
        margin: 3rem 0 3rem 15rem;
        gap: 10rem;
    }

    aside {
        grid-row: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (min-width: 1200px){
    html {
        min-height: 100vh;
        min-width: fit-content;
    }

    .body__title {
        margin: 3rem 0 3rem 2rem;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 29rem);
        margin: 3rem 0 3rem 2rem;
        gap: 10rem;
    }

    aside {
        grid-row: 1;
        grid-column: 2;
    }
}

@media only screen and (min-width: 1400px){
    html {
        min-height: 100vh;
        min-width: fit-content;
    }

    .body__title {
        margin: 3rem 0 3rem 30rem;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 29rem);
        margin: 3rem 0 3rem 30rem;
        gap: 10rem;
    }

    aside {
        grid-column: 2;
        display: block;
    }
}

/* @media only screen and (min-width: 2560px){
    html {
        min-height: 100vh;
        min-width: fit-content;
    }

    .body__title {
        margin: 3rem 0 3rem 50rem;
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 29rem);
        margin: 3rem 0 3rem 50rem;
        gap: 10rem;
    }

    aside {
        grid-column: 2;
    }
} */